body {
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	background-size: 400% 400%;
	animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.padding {
	padding: 3rem !important
}

.user-card-full {
	overflow: hidden;
}

.card {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
	box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
	border: none;
	margin-bottom: 30px;
	margin-left: -50px;
}

.m-r-0 {
	margin-right: 0px;
}

.m-l-0 {
	margin-left: 0px;
}

.user-card-full .user-profile {
	border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
	background: lightblue;
	padding-top: 40px;
}


.user-profile {
	padding: 20px 0;
}

.card-block {
	padding: 1.25rem;
}

.m-b-25 {
	margin-bottom: 25px;
}

.img-radius {
	border-radius: 5px;
}



h6 {
	font-size: 24px;
}

.card .card-block p {
	line-height: 25px;
}

@media only screen and (min-width: 1400px){
	p {
		font-size: 14px;
	}
}

.card-block {
	padding: 1.25rem;
}

.b-b-default {
	border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
	margin-bottom: 20px;
}

.p-b-5 {
	padding-bottom: 5px !important;
}

.card .card-block p {
	line-height: 25px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.text-muted {
	color: #919aa3 !important;
}

.b-b-default {
	border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
	font-weight: 600;
	font-size: 24px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-t-40 {
	margin-top: 20px;
}

.p-b-5 {
	padding-bottom: 5px !important;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-t-40 {
	margin-top: 20px;
}


.card.user-card-full {
	width: 1000px;
	height: 335px;
}

